body{

    background-color: black;
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
}  
/*
body{

    font-size:large;
    font-family: 'EB Garamond';
    background-color:#F0E0D6;
}
*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px;
}

.box {
    border: 2px solid white; 
    padding: 10px; 
    box-sizing: border-box; 
}

td:first-child {
    padding-right: 20px; /* Add padding between the first and second column */
}

th:first-child {
    text-align: left; /* Add padding between the first and second column */
}

@media (max-width: 650px) {

    .g{

        margin-right: 0px;
        margin-left: 50px;
    }

    .grid-container {

        grid-template-columns: auto;

    }



}

h2{
    font-family: 'Bahnschrift', sans-serif;
}



input {
    background-color: black;      /* Set the background color to black */
    color: white;                 /* Set the text color to white for contrast */
    font-family: 'JetBrains Mono', monospace; /* Ensure font family is set here as well */
    padding: 7px;                /* Add some padding for better appearance */
    border: 2px solid #444;       /* Optional: give a subtle border */
}
