
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
}


.box {
    border: 2px solid black; 
    padding: 10px; 
    box-sizing: border-box; 
}


@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}

.navbar{

    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.g{

    margin-right: 50px;
    font-size:x-large;
    margin-top: 30px;
}


@media (max-width: 480px) {
    body {
        font-size: x-large; /* Adjust this value as needed */
        
    }
}
