<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancestry.com</title>
    <link rel="icon" href="https://i.pinimg.com/originals/52/8e/b3/528eb326e79ca1fc8292910792d6f074.png" type="image/png">
    <link rel = "stylesheet" href = "../static/styles1.css">
</head>
<body style = "background-color:#F0E0D6;">
    <div class = "navbar">
        <h1> Big Data Analytics..</h1>
        <div class = "g">
            <a class = "g1" href = "{{ url_for('home') }}" >Home</a>
            <a class = "g1" href = "{{ url_for('map') }}" >Map</a>
            <a class = "g1" href = "{{ url_for('map') }}" >Tribute</a>
        </div>
        
    </div>

    <h1 style = "text-align: center; margin: 80px;">Find out who knew each other since FY</h1>

        <div id = "container">

            <form action="/submit" method="POST">
                <label for="new">Current Div: </label>
                <input type="text" id="new" name="new">
                <label for="old">FY Div: </label>
                <input type="text" id="old" name="old">
                <input type="submit" value="Submit" id = "btn">
        </div>

    <div id = "result" style = "text-align: center;"> 

        <h2>Students who were in first year {{ old }} division and are now part of {{ new }} division:</h2>
        
        <ul style="list-style-type: none; padding: 0;">
            {% for student in student_list %}
                <li>{{ student.idx }}. {{ student.name }} {{ student.batch }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
