<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancestry.com</title>
    <link rel="icon" href="https://i.pinimg.com/originals/52/8e/b3/528eb326e79ca1fc8292910792d6f074.png" type="image/png">
    <link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
    <link rel = "stylesheet" href = "../static/styles2.css">
</head>
    <body style = "background-color:#F0E0D6;">
        <div class = "navbar">
            <h1> Big Data Analytics..</h1>
            <div class = "g">
                <a class = "g1" href = "{{ url_for('find') }}" >Gangs</a>
                <a class = "g1" href = "{{ url_for('map') }}" >Map</a>
                <a class = "g1" href = "{{ url_for('tribute') }}" >Tribute</a>
            </div>
            
        </div>

        <div class="grid-container">
            <div class="box">
                <h2>Get CGPA Analysis</h2>
                <div id = "container">

                    <form action="/get-cgpa" method="POST">
                        <label for="new">Enter name:  </label>
                        <input type="text" id="new" name="new">

                </div>
                {% if result %}
                    <div id="result">
                        <pre style = " font-family: 'Times New Roman', Times, serif;">{{ result }}</pre>
                    </div>
                    {% endif %}
                    {% if error %}
                    <div id="error">
                        <p>{{ error }}</p>
                    </div>
                 {% endif %}

                <p>Please note this is only for the 296 TE CE students in 2024.</p>
            </div>
            
            <div class="box">
                <h2>Gender Statistics</h2>
                <p>A girl is more likely to have a higher CGPA</p>
                <p>Girls have an avg CGPA of 7.87 and boys at 7.17</p>
                <p>Regardless of gender the average CGPA is 7.34 and a 1/3rd of people have above 8</p>
                <p>Average ratio of boys and girls for every class is 43:16 ~= 3:1</p>
            </div>

            <div class="box">
                <h2>2024 Leaderboard</h2>
                <table>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>CGPA</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>NIHARIKA RAHUL KAMAT</td>
                        <td>9.99</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>TALELE ROHIT RAHUL</td>
                        <td>9.96</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>KORGAONKAR NEERAV JAIDEEP</td>
                        <td>9.92</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>SUNIDHISHREE PRABAKARAN</td>
                        <td>9.89</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>CHAKRABORTY SAIKAT TARUN</td>
                        <td>9.88</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>ADITYA ANIL BHABAL</td>
                        <td>9.88</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>BHAMRE ARYA PRAVIN</td>
                        <td>9.87</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>ANKIT CHAUDHARY</td>
                        <td>9.86</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>MOKSH JAIN</td>
                        <td>9.84</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>PATIL MANISH GIRISH</td>
                        <td>9.81</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>SAANVI GANAPATI NETALKAR</td>
                        <td>9.81</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>YAHYA MOOSA</td>
                        <td>9.79</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>ROHIT KUMAR</td>
                        <td>9.79</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>SUPRITHA YOGESH ANCHAN</td>
                        <td>9.78</td>
                    </tr>
                    <tr>
                        <td>15</td>
                        <td>DHANDARPHALE SHARDUL SHRIPAD</td>
                        <td>9.76</td>
                    </tr>
                    
                </table>
            </div>

            <div class="box">
                <h2>Highest CGPA Increases</h2>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Sem 3</th>
                            <th>Sem 4</th>
                            <th>++</th>
                        </tr>
                        <tr>
                            <td>PATEL JAYANT</td>
                            <td>7.64</td>
                            <td>8.50</td>
                            <td>8.6%</td>
                        </tr>
                        <tr>
                            <td>DADHEKAR TANVI</td>
                            <td>5.98</td>
                            <td>6.84</td>
                            <td>8.6%</td>
                        </tr>
                        <tr>
                            <td>PRAGYA MISHRA</td>
                            <td>6.48</td>
                            <td>7.22</td>
                            <td>7.4%</td>
                        </tr>
                        <tr>
                            <td>THAKARE RUSHABH</td>
                            <td>6.68</td>
                            <td>7.41</td>
                            <td>7.3%</td>
                        </tr>
                        <tr>
                            <td>KADAM SARVESH SUNIL</td>
                            <td>7.13</td>
                            <td>7.81</td>
                            <td>6.8%</td>
                        </tr>
                        <tr>
                            <td>SHAIKH DANISH ASLAM</td>
                            <td>7.82</td>
                            <td>8.50</td>
                            <td>6.8%</td>
                        </tr>
                        <tr>
                            <td>RAGHAV RAM DAD</td>
                            <td>6.92</td>
                            <td>7.55</td>
                            <td>6.3%</td>
                        </tr>
                        <tr>
                            <td>OM SALIL DIDOLKAR</td>
                            <td>7.44</td>
                            <td>8.01</td>
                            <td>5.7%</td>
                        </tr>
                        <tr>
                            <td>DEEPTANSHU LAL</td>
                            <td>7.43</td>
                            <td>7.98</td>
                            <td>5.5%</td>
                        </tr>
                        <tr>
                            <td>MURDANDE ARNAV</td>
                            <td>6.69</td>
                            <td>7.23</td>
                            <td>5.4%</td>
                        </tr>
                        <tr>
                            <td>ASHUTOSH YOGESH KULKARNI</td>
                            <td>6.72</td>
                            <td>7.24</td>
                            <td>5.2%</td>
                        </tr>
                    </table>
                </div>
            
            <div class="box">
                <h2>THE TOUGHEST SUBJECTS</h2>
                <p>The toughest subject with a deadly average rate of D is Basic Electronics and Logic Design from SEM III</p>
                <p>Reason: Massive deviation from sample papers + In one of the 10 mark questions ESE, students were asked to design a MOD 5 counter which takes a lot of time... a MOD counter question is usually expected to be of max 3</p>
                <p>Surprisingly, the subject Data Analysis and Algorithms in SEM IV which is known for being easy was the deadliest subject</p>
                <p>This was due to the absence of numericals and a demonstration being asked for every algorithm meaning you had to make your own data, solve it, and also provide theory for it in ESE</p>
            </div>
            
            <div class="box">
                <p>... More coming, just wait for the latest Git push to prod</p>
                <img src = "https://pbs.twimg.com/media/FuFVSYdXsAAKZh8?format=jpg&name=large" height = "270px" width = "300px">
            </div>

        </div>

        <div>THIS INFORMATION WAS PUBLICLY AVAILABLE NOT A VIOLATION OF PRIVACY</div>
    
    </body>
</html>

    <!--
    gender
Average CGPA over the semesters
Most difficult/easy courses
Most insane joevers/it's so barack
The div full of nerds vs The div full of chill dudes-->