<!DOCTYPE html>
<html>
<head>
    <title>Ancestry.com</title>
    <link rel = "stylesheet" href = "../static/styles2.css">
    <body style = "background-color:#F0E0D6;">
        <div class = "navbar">
            <h1> Big Data Analytics..</h1>
            <div class = "g">
                <a class = "g1" href = "{{ url_for('find') }}" >Gangs</a>
                <a class = "g1" href = "{{ url_for('find') }}" >Map</a>
                <a class = "g1" href = "{{ url_for('find') }}" >Tribute</a>
            </div>
            
        </div>

        <div class="grid-container">
            <div class="box">
                <h2>Get CGPA</h2>
                <div id = "container">

                    <form action="/get-cgpa" method="POST">
                        <label for="new">Enter name:  </label>
                        <input type="text" id="new" name="new">

                </div>
                {% if result %}
                    <div id="result">
                        <p>{{ result }}<p>
                    </div>
                    {% endif %}
                    {% if error %}
                    <div id="error">
                        <p>{{ error }}</p>
                    </div>
                 {% endif %}

                <p>Please note this is for TE CE students in 2024</p>
            </div>
            
            <div class="box">
                <h2>Which gender is smarter ? </h2>
                <p>After some analysis turns out that a girl is more likely to have a higher CGPA!</p>
                <p>Girls have an avg CGPA of 7.87 and boys at 7.17!</p>
                <p>Regardless of gender the average CGPA is 7.34 and a 1/3rd of people have above 8</p>
            </div>
            
            <div class="box">
                <h2>THE TOUGHEST SUBJECTS</h2>
                <p>The toughest subject with a deadly average rate of D is Basic Electronics and Logic Design from SEM III</p>
                <p>Reason: Massive deviation from sample papers + In one of the 10 mark questions ESE, students were asked to design a MOD 5 counter which takes a lot of time... a MOD counter question is usually expected to be of max 3</p>
                <p>Surprisingly, the subject Data Analysis and Algorithms in SEM IV which is known for being easy was the deadliest subject</p>
                <p>This was due to the absence of numericals and a demonstration being asked for every algorithm meaning you had to make your own data, solve it, and also provide theory for it in ESE</p>
            </div>
            
            <div class="box">
                <h2>From It's Joever to We are so Barack!!!</h2>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Sem 3</th>
                        <th>Sem 4</th>
                        <th>++</th>
                    </tr>
                    <tr>
                        <td>PATEL JAYANT</td>
                        <td>7.64</td>
                        <td>8.50</td>
                        <td>0.86</td>
                    </tr>
                    <tr>
                        <td>DADHEKAR TANVI</td>
                        <td>5.98</td>
                        <td>6.84</td>
                        <td>0.86</td>
                    </tr>
                    <tr>
                        <td>PRAGYA MISHRA</td>
                        <td>6.48</td>
                        <td>7.22</td>
                        <td>0.74</td>
                    </tr>
                    <tr>
                        <td>THAKARE RUSHABH</td>
                        <td>6.68</td>
                        <td>7.41</td>
                        <td>0.73</td>
                    </tr>
                    <tr>
                        <td>KADAM SARVESH SUNIL</td>
                        <td>7.13</td>
                        <td>7.81</td>
                        <td>0.68</td>
                    </tr>
                    <tr>
                        <td>SHAIKH DANISH ASLAM</td>
                        <td>7.82</td>
                        <td>8.50</td>
                        <td>0.68</td>
                    </tr>
                    <tr>
                        <td>RAGHAV RAM DAD</td>
                        <td>6.92</td>
                        <td>7.55</td>
                        <td>0.63</td>
                    </tr>
                    <tr>
                        <td>OM SALIL DIDOLKAR</td>
                        <td>7.44</td>
                        <td>8.01</td>
                        <td>0.57</td>
                    </tr>
                    <tr>
                        <td>DEEPTANSHU LAL</td>
                        <td>7.43</td>
                        <td>7.98</td>
                        <td>0.55</td>
                    </tr>
                </table>
            </div>
            
            <div class="box">

            </div>
            
            <div class="box">
                ... More coming, just wait for the latest Git push to prod
            </div>

        </div>

        <div>THIS INFORMATION WAS PUBLICLY AVAILABLE NOT A VIOLATION OF PRIVACY</div>
    
    </body>

    <!--
    gender
Average CGPA over the semesters
Most difficult/easy courses
Most insane joevers/it's so barack
The div full of nerds vs The div full of chill dudes-->