<!DOCTYPE html>
<html>
<head>
    <title>Ancestry.com</title>
    <link rel = "stylesheet" href = "../static/styles2.css">
    <body style = "background-color:#F0E0D6;">
        <div class = "navbar">
            <h1> Big Data Analytics..</h1>
            <a class = "g" href = "{{ url_for('find') }}" >Gangs</a>
        </div>

        <div class="grid-container">
            <div class="box">
                <h2>Get CGPA</h2>
                <div id = "container">

                    <form action="/get-cgpa" method="POST">
                        <label for="new">Enter name:  </label>
                        <input type="text" id="new" name="new">

                </div>
                {% if result %}
                    <div id="result">
                        <p>{{ result }}<p>
                    </div>
                    {% endif %}
                    {% if error %}
                    <div id="error">
                        <p>{{ error }}</p>
                    </div>
                 {% endif %}

                <p>Please note this is for TE CE students in 2024</p>
            </div>
            
            <div class="box">
                <p>... More coming, just wait for the latest Git push to prod</p>
            </div>
            
            <div class="box">
                <p></p>
            </div>
            
            <div class="box">
            </div>
            
            <div class="box">

            </div>
            
            <div class="box">
                
            </div>

        </div>

        <div>THIS INFORMATION WAS PUBLICLY AVAILABLE NOT A VIOLATION OF PRIVACY</div>
    
    </body>

    <!--
    gender
Average CGPA over the semesters
Most difficult/easy courses
Most insane joevers/it's so barack
The div full of nerds vs The div full of chill dudes-->