<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ancestry.com</title>
    <link rel="icon" href="https://i.pinimg.com/originals/52/8e/b3/528eb326e79ca1fc8292910792d6f074.png" type="image/png">
    <link rel = "stylesheet" href = "../static/styles2.css">
</head>
    <body style = background-color:black;>
        <div style = "color:white;" class = "navbar">
            <h1> Big Data Analytics..</h1>
            <div class = "g">
                <a class = "g1" href = "{{ url_for('find') }}" >Gangs</a>
                <a class = "g1" href = "{{ url_for('map') }}" >Map</a>
                <a class = "g1" href = "{{ url_for('tribute') }}" >Tribute</a>
            </div>
        </div>
        <div style = "display: flex; justify-content: center;">
            <img src = "https://i.ytimg.com/vi/gtRLmL70TH0/maxresdefault.jpg">
        </div>
       <div class = "dafont">
        Alan Turing..
       </div>
    </body>
</html>
